{% import './components/image.twig' as Image %}
{% import './components/button.twig' as Button %}
{% extends "base.twig" %}

{% block content %}
	<section class="{{field.slug}}-page" id="{{field.slug}}-page">
		<div class="our-services padding" id="our-services">
			{% set page = field.meta('our_services') %}
			<div class="container">
				<div class="text-content">
					<h2 class="h3 title">{{page.title}}</h2>
					<div class="list">
						{% for list in page.list %}
							<div class="list-item">
								<h3 class="list-title service-title {% if loop.index == 1 %}is-active{% endif %}">{{list.title}}</h3>
								<div class="list-content service-content">{{list.content}}</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="image-content">
					<img src="{{Image(page.image).src}}" alt="{{Image(page.image).alt}}" class="img-responsive">
				</div>
			</div>
		</div>
		<div class="our-approach padding" id="our-approach">
			{% set page = field.meta('our_approach') %}
			<div class="container">
				<div class="text-content">
					<h2 class="h3 title">{{page.title}}</h2>
					<div class="content">{{page.content}}</div>
					<div class="list">
						{% for list in page.list %}
							<div class="list-item">
								<h3 class="list-title approach-title {% if loop.index == 1 %}is-active{% endif %}">{{list.title}}</h3>
								<div class="list-content approach-content">{{list.content}}</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="image-content">
					<img src="{{Image(page.image).src}}" alt="{{Image(page.image).alt}}" class="img-responsive">
				</div>
			</div>
		</div>
	</section>

{% endblock %}
