{% import './components/image.twig' as Image %}
{% import './components/button.twig' as Button %}
{% extends "base.twig" %}

{% block content %}
	<section class="{{field.slug}}-page" id="{{field.slug}}-page">

		<div class="why-smart-green padding" id="why-smart-green">
			{% set page = field.meta('why_condo') %}
			<div class="container" data-aos="fadeIn">
				<h2 class="h3 title">{{page.title}}</h2>
				<div class="wheel-container">
					<div class="svg-slider" id="mainCircle">
						{{ function('file_get_contents', Image(page.image).src) }}
					</div>

					<div class="content-slider">
						{% for list in page.list %}
							{% set count = (count|default(0)) + 1 %}
							<div class="slider-content" data-segment="{{count}}">
								<div class="right-container">
									<div class="slide-left">
										{{ function('file_get_contents', Image(list.logo).src) }}
									</div>
									<div class="slide-right">
										<h3 class="h4 slide-title">{{list.title}}</h3>
										<h4 class="h5 slide-subtitle">{{list.subtitle}}</h4>
										<div class="content">{{list.content}}</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
					<div class="arrows-section">
						<div class="arrowPrev">
							{{ source(directory ~ '/static/images/icon/arrow_circle_right.svg') }}
						</div>
						<div class="arrowNext">
							{{ source(directory ~ '/static/images/icon/arrow_circle_left.svg') }}
						</div>
					</div>
				</div>
				<div class="btn center">
					<a href="/smartgreencondo/#request-a-demo" class="grad-btn" aria-label="Request a Demo">Request a SGC Demo</a>
				</div>
			</div>
		</div>

		<div class="our-vision padding" id="our-vision">
			{% set page = field.meta('our_vision') %}
			<div class="container">
				<div class="text-content">
					<h2 class="h3 title" data-aos="fadeIn">{{page.title}}</h2>
					<div class="list">
						{% for list in page.list %}
							{% set count, delay = (count | default(0)) + 1, (delay|default(100)) + 50 %}
							<div class="list-item" data-aos="fade-up" data-aos-delay="{{delay}}">
								<span>{{count}}</span>
								<div class="list-content">
									<h3 class="list-title">{{list.title}}</h3>
									<div class="content">{{list.content}}</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				<div class="image-content" data-aos="fadeIn">
					<img src="{{Image(page.image).src}}" alt="{{Image(page.image).alt}}" class="img-responsive">
				</div>
			</div>
		</div>

		<div class="condo-management padding-lr padding-top" id="condo-management">
			{% set page = field.meta('condo_management') %}
			<div class="container">
				<h2 class="h3 title" data-aos="fadeIn">{{page.title}}</h2>
				<div class="text-content">
					<div class="list">
						{% for list in page.list %}
							{% set delay = (delay|default(100)) + 100 %}
							<div class="list-item" data-aos="fade-up" data-aos-delay="{{delay}}">
								<img src="{{Image(list.image).src}}" alt="{{Image(list.image).alt}}" class="img-responsive">
								<div class="list-details">
									<h3 class="list-title center">{{list.title}}</h3>
									<div class="list-content content">{{list.content}}</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="core-functionality padding" id="core-functionality">
			{% set page = field.meta('core_platform') %}
			<div class="container">
				<h2 class="h3 title" data-aos="fadeIn">{{page.title}}</h2>
				<div class="text-content">
					<div class="list">
						{% for faq in page.list %}
							{% set delay = (delay|default(100)) + 100 %}
							<div class="list-item" data-aos="fade-up" data-aos-delay="{{delay}}">
								<h3 class="faq-title">
									{{ function('file_get_contents', Image(faq.logo).src) }}
									{{faq.title}}
								</h3>
								<div class="faq-content">
									<p>{{faq.content}}</p>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>

		<div class="demo-videos padding" id="demo-videos">
			{% set page = field.meta('demos') %}
			<div class="container">
				<h2 class="h3 title" data-aos="fadeIn">{{page.title}}</h2>
				<div class="videos" id="videos">
					{% for item in page.list %}
						{% set delay = (delay|default(100)) + 100 %}
						<div class="list-item" data-aos="fade-up" data-aos-delay="{{delay}}">
							<div class="you_video">{{item.you_video}}</div>
							<h3 class="video-title">{{item.title}}</h3>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<div class="request-a-demo padding-lr" id="request-a-demo" data-aos="fadeIn">
			{% set page = field.meta('request_demo') %}
			<div class="container">
				<div class="image-content">
					<img src="{{Image(page.image).src}}" alt="{{Image(page.image).alt}}" class="img-responsive">
				</div>
				<div class="text-content padding-tb">
					<h2 class="h3 title">{{page.title}}</h2>
					<div class="content">{{page.content}}</div>
					<div class="form-container">
						{{fn('do_shortcode','[gravityform id="2" title="false" description="false" ajax="true"]')}}
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
